insert #apple, bowl
cut #apple
put #backpack, backpack place
insert bottle of water, #backpack
cut #banana
cook #banana
take #banana, fridge
peel #banana
move #book, shelf
throw #book
open page 42, #book
search #book, recipe, noodles
carry #book
carry #book
carry #book
wrap #book, wrapping paper
pour #bottle, cup
shake #bottle
insert #bottle, fridge
carry #bottle
move #bottle, room 42
water flowers, #bottle
throw #bowl
pour milk, #bowl
insert #bowl, shelf
flip #bowl
put #bowl
serve food, #bowl
carry #bowl, friend
insert #bowl, shelf
fill milk, #bowl
put #bowl
put #bowl, anywhere
wash #bowl
wash #bowl
insert cereals, #bowl
put #bowl
move #bowl, cupboard
throw #bowl
fill #bowl, water
fill soup, #bowl
throw remaining liquid, #bowl
carry #bowl
take #bowl, next door
insert #bowl, dishwasher
insert #bowl, microwave
sort #bowl
insert #bowl, sink
insert cereal, #bowl
move #bowl, fridge
move #bowl
wash #bowl
cook #broccoli
cut #broccoli
cut #carrot
cook #carrot
insert #carrot, fridge
cut #carrot
move #cell phone, charging station
turn-off #cell phone
dry #cell phone
insert #cell phone, charging station
pour tea, #cup
insert #cup, shelf
wash #keyboard
lift #keyboard
take #keyboard, colleague
turn-on #keyboard
insert #keyboard, storage room
wrap #keyboard, plastic foil
turn-off #laptop
turn-on #laptop
carry #laptop
wash #laptop
carry #laptop, my boss
move #laptop, right
insert carrots, #microwave
throw #microwave
turn-on #microwave
check #microwave
turn-off #microwave
wash #microwave
turn-on #oven
turn-off #oven
turn-on #oven
bake cake, #oven
check #refrigerator
turn-off #refrigerator
open #refrigerator
insert beverages, #refrigerator
put food, #refrigerator
empty #refrigerator
cut paper, #scissors
sharpen #scissors
wash #sink
put bowl, #sink
turn-on #tv
turn-off #tv
lift #tv
turn-on #tv
measure #tv
move #tv, upstairs
fill bottle, water
remove laptop, charging station
carry apple
open window
wash bathroom
check chair
prepare salad
carry coke
move fan, basement
turn-on computer
take banana, fridge
check dishwasher
fill glass, water
carry plate
empty table
throw apple
close windows
wash table
fill blue bowl, milk
turn-on microwave
wash #apple
move #tv, leftside
peel #apple
take #apple, bottle
serve #apple
cut #apple
check #apple
put #apple, refrigerator
cut #apple
carry #apple, bowl
cut #banana
put #banana, bowl
cut #banana
serve #banana, plate
open #bottle
pour milk, #bottle
throw #bottle
move #bottle, counter
wash #bowl
put cereal, #bowl
unwrap #cake
cut #cake
eat #cake
bake #cake
sprinkle #cake, sugar
prepare #cake
cut #cake
serve #cake, fork
finish #cake
hold #cake
prepare #cake
add chocolate sauce, #cake
wash #chair
move #chair
carry #chair
turn #chair
fold #chair
search pillow, #chair
fill #cup, coffee
choose #cup
fill #cup, tea
wash #cup, sink
wash #fork
serve salat, #fork
choose #fork
location #fork
wash #keyboard
press button, #keyboard
use #keyboard
move #keyboard, keyboard
hold #keyboard
press enter key, #keyboard
check #keyboard
measure #keyboard
throw #keyboard
uncover #keyboard
cut pizza, #knife
use #knife, banana
wash #knife
take #knife
open #microwave
wash #microware
empty #microwave
open #microware
wash #mouse
roll scroll button, #mouse
dry #mouse
mark #mouse
open #mouse
remove #mouse, laptop
wrap #mouse, gift paper
take #mouse
add #mouse, computer stuff
move #mouse, keyboard
open #laptop
look #laptop, keys
turn-on #laptop
turn-off #laptop
divide #laptop
adjust settings, #laptop
open #laptop
hold #laptop
close #laptop
turn #laptop
open #refrigerator
put bowl, #refrigerator
wash #refrigerator
brush #refrigerator
carry #scissors
cut paper, #scissor
wash #sink
empty #sink
break #spoon
mix salad, #spoon
empty #spoon
take #spoon
choose #spoon
move #spoon
wash #spoon
insert #spoon, sink
dry #umbrella
insert #umbrella, wardrobe
carry #umbrella
carry #umbrella
carry #umbrella
move #umbrella, bathroom
hold #umbrella
throw #umbrella
insert #umbrella, cover
hang #umbrella
wash #umbrella
move #umbrella, room 247
open #umbrella
unwrap #umbrella
carry bottle.
dry towel
carry cup
adjust towel rail
wash dish
attach poster, wall
unscrew screw laptop
uncover pot
Hold mouse
season meal
unlock laptop
empty bottle
search keyboard
press bottle
search mouse
throw mouse
lock laptop
peel pear
peel apple
finish work
open #backpack
insert coffee, #backpack
wrap #backpack
insert laptop, #backpack
hold #backpack
check #backpack
carry #bottle
fill #bottle
pour water, #bottle
carry #bottle
open #bottle
insert #bottle, fridge
move #bottle, table, refrigerator
wash #bottle
carry #bottle
open #bottle
insert #bottle, refrigerator
throw #bottle
wash #bowl
throw #bowl
insert #bowl, sink
fill salad, #bowl
empty #bowl
wash #bowl
wash #bowl
check #bowl
carry #bowl, refrigerator
insert #bowl, dishwasher
carry #bowl, dishwasher
carry #bowl
insert #bowl, dishwasher
open #bowl
insert #bowl, refrigerator
insert food, #bowl
carry #bowl
put #bowl, refrigerator
carry #bottle
wash #bowl
carry #cup
move #cup, boss
wrap #cup
fill water, #cup
attach #cup, my collection
fill coffee, #cup
serve #cup, our guests
turn #cup
serve #cup
put #cup, dishwasher
drink #cup
move #cup, cupboard
smell #cup
carry #cup
shake #cup
serve coffee, #cup
pour coffee, #cup
empty #cup
wash #cup
insert #cup, backpack
put #cup
fill water, #cup
carry #cup
fill coffee, #cup
choose #cup
insert #cup, shelf
shake #cup
serve tea, #cup
use #cup, water
carry #cup, Alex
empty water, #cup
insert #cup, dishwasher
gather #cup
wash #cup
hang #cup
insert #cup, cupboard
use #fork
wash #fork
use #fork
put #fork, dining table
dry #fork, washcloth
move #fork, sink
open #handbag
insert purse, #handbag
open #handbag
carry ID, #handbag
take #handbag
check #handbag
search #keyboard
wrap #keyboard, package
read first letter, #keyboard
turn-on #keyboard
sharpen #knife
cut tomatos, #knife
sharpen #knife
carry #knife, roommate
gather #knife, dining room
carry #knife
pull #laptop
turn-on #laptop
open #laptop
turn-off #laptop
hold #laptop
wash #laptop
set time, #laptop
unlock #laptop
unlock #laptop
measure #laptop
close #laptop
move #laptop, other office
open #laptop
divide #laptop
check #microwave
cook pasta, #microwave
carry meal, #microwave
check #microwave
open #microwave
put pasta, fridge, #microwave
use #mouse
measure #mouse
wash #plate
insert #plate, dishwasher
wash #plate
put food, #plate
move #plate, cupboard
throw #plate
check #refrigerator
take joghurt, #refrigerator
open #refrigerator
check #refrigerator
close #refrigerator
move #refrigerator, room 42
open #refrigerator
open #refrigerator
use #scissors
carry #scissors
sharpen #scissors
put #scissors, desk
insert #scissors, table
wash #scissors
carry #scissors
cut green paper, #scissors
carry #scissors
move #scissors, shelf
insert #spoon, dishwasher
put #spoon
wash #spoon
wash #spoon
carry #spoon
take #spoon
carry #cup
carry #book
click #mouse
carry #food
carry #cellphone
close #laptop
carry #bottle
carry #cup
check #laptop
check #book
make #coffee
carry #spoon
insert #bowl, refrigerator
open #refrigerator
turn-on  #kettle
check #kettle
grab #glass
wash #glass
find #knife
move #knife, washing machine
pour water, #cup
wash #cup
move #food, microwave
move #cup
gather #plate
carry #plate
find #bottle
read #message
make #coffee
carry #snack
find #cell phone
carry #book
check #food
clean #table
turn-on #kettle
carry #chair
fill #bottle
carry #bottle
move #bottle
prepare #salad
