insert #apple, bowl
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
cut #banana
Please point exactly to the object you refer to or describe it.
take #banana, fridge
peel #banana
move #book, shelf
throw #book
open page 42, #book
Please point exactly to the object you refer to or describe it.
carry #tv
I cannot see the book, but I see a tv. Please point exactly to the book.
carry #book
carry #book
Please point exactly to the object you refer to or describe it.
shake #bottle
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
move #bottle, room 42
Please point exactly to the object you refer to or describe it.
throw #chair
pour milk, #chair
insert #bowl, shelf
flip #bowl
put #bowl
serve food, #bowl
carry #chair, friend
insert #chair, shelf
Which chair do you mean?
Which chair do you mean?
I only see a dining and a table. Please point exactly to the bowl.
Please point exactly to the object you refer to or describe it.
wash #bowl
Please point exactly to the object you refer to or describe it.
I cannot see the bowl, but I see a remote. Please point exactly to the bowl.
I cannot see the bowl, but I see a remote. Please point exactly to the bowl.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I only see a dining, a table, a tv, a chair, and a microwave. Please point exactly to the bowl.
I only see a dining, a table, a tv, a chair, and a microwave. Please point exactly to the bowl.
I only see a dining and a table. Please point exactly to the bowl.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I cannot see the bowl, but I see a tv. Please point exactly to the bowl.
move #tv, fridge
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
cut #refrigerator
cook #refrigerator
insert #sink, fridge
I cannot see the carrot, but I see a sink. Please point exactly to the carrot.
I cannot see the cell phone, but I see an oven. Please point exactly to the cell phone.
turn-off #oven
I only see a book, an oven, and a refrigerator. Please point exactly to the cell phone.
I only see a book, an oven, and a refrigerator. Please point exactly to the cell phone.
pour tea, #bowl
insert #bowl, shelf
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
turn-on #keyboard
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
turn-on #chair
check #chair
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I see multiple ovens. Which oven do you mean?
Please point exactly to the object you refer to or describe it.
I see multiple ovens. Which oven do you mean?
I see multiple ovens. Which oven do you mean?
Which chair do you mean?
Which chair do you mean?
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
empty #refrigerator
Please point exactly to the object you refer to or describe it.
I only see a chair and a microwave. Please point exactly to the scissors.
I only see a bottle, an oven, a refrigerator, and a backpack. Please point exactly to the sink.
Please point exactly to the object you refer to or describe it.
turn-on #tv
turn-off #tv
lift #tv
lift #tv
measure #tv
move #tv, upstairs
fill bottle, water
fill bottle, water
carry apple
carry apple
chairwchairachairschairhchair chairbchairachairtchairhchairrchairochairochairmchair
chaircchairhchairechaircchairkchair chaircchairhchairachairichairrchair
prepare salad
prepare salad
move fan, basement
move fan, basement
take banana, fridge
take banana, fridge
fill glass, water
fill glass, water
empty table
empty table
close windows
close windows
bowlfbowlibowllbowllbowl bowlbbowllbowlubowlebowl bowlbbowlobowlwbowllbowl,bowl bowlmbowlibowllbowlkbowl
bowltbowlubowlrbowlnbowl-bowlobowlnbowl bowlmbowlibowlcbowlrbowlobowlwbowlabowlvbowlebowl
wash #apple
wash #apple
peel #apple
peel #apple
serve #apple
serve #apple
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I only see a handbag and mice. Please point exactly to the apple.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
cut #banana
Please point exactly to the object you refer to or describe it.
open #bottle
pour milk, #bottle
throw #bottle
throw #bottle
wash #bowl
wash #bowl
I only see an apple and a tv. Please point exactly to the cake.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
bake #cake
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
cut #cake
serve #cake, fork
finish #cake
hold #cake
prepare #cake
add chocolate sauce, #cake
wash #chair
move #chair
carry #chair
turn #chair
fold #chair
fold #chair
fill #cup, coffee
fill #cup, coffee
fill #cup, tea
fill #cup, tea
I only see a dining, a table, and a bottle. Please point exactly to the fork.
I only see a dining, a table, and a bottle. Please point exactly to the fork.
Please point exactly to the object you refer to or describe it.
I only see a knife, cups, and bowls. Please point exactly to the fork.
wash #keyboard
press button, #keyboard
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
hold #keyboard
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
measure #keyboard
throw #keyboard
uncover #keyboard
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
wash #knife
wash #knife
open #microwave
wash #microware
empty #microwave
empty #microwave
wash #mouse
roll scroll button, #mouse
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
open #mouse
Please point exactly to the object you refer to or describe it.
wrap #mouse, gift paper
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
move #mouse, keyboard
open #laptop
look #laptop, keys
I see multiple laptops. Which laptop do you mean?
I see multiple laptops. Which laptop do you mean?
I see multiple laptops. Which laptop do you mean?
I see multiple laptops. Which laptop do you mean?
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
turn #laptop
open #refrigerator
put bowl, #refrigerator
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I only see a dining, a table, a potted, and a plant. Please point exactly to the scissors.
Please point exactly to the object you refer to or describe it.
wash #sink
empty #sink
Please point exactly to the object you refer to or describe it.
I only see refrigerators and a chair. Please point exactly to the spoon.
I only see a microwave, bottles, and a bowl. Please point exactly to the spoon.
I only see a microwave, bottles, and a bowl. Please point exactly to the spoon.
choose #spoon
choose #spoon
I only see a dining, a table, and a knife. Please point exactly to the spoon.
Please point exactly to the object you refer to or describe it.
dry #umbrella
dry #umbrella
carry #umbrella
carry #umbrella
Please point exactly to the object you refer to or describe it.
move #umbrella, bathroom
I cannot see the umbrella, but I see a keyboard. Please point exactly to the umbrella.
throw #keyboard
insert #umbrella, cover
insert #umbrella, cover
I cannot see the umbrella, but I see a keyboard. Please point exactly to the umbrella.
move #keyboard, room 247
I cannot see the umbrella, but I see a keyboard. Please point exactly to the umbrella.
unwrap #keyboard
carry bottle.
carry bottle.
carry cup
carry cup
wash dish
wash dish
unscrew screw laptop
unscrew screw laptop
Hold mouse
Hold mouse
unlock laptop
unlock laptop
search keyboard
search keyboard
search mouse
search mouse
lock laptop
lock laptop
peel apple
peel apple
I only see cups, bottles, chairs, a laptop, a tv, a keyboard, and a mouse. Please point exactly to the backpack.
Please point exactly to the object you refer to or describe it.
I only see tvs, a laptop, and a remote. Please point exactly to the backpack.
I only see tvs, a laptop, and a remote. Please point exactly to the backpack.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I only see tvs, a book, cups, a keyboard, and laptops. Please point exactly to the bottle.
Please point exactly to the object you refer to or describe it.
I only see chairs, keyboards, a laptop, a cup, and tvs. Please point exactly to the bottle.
Please point exactly to the object you refer to or describe it.
I see multiple bottles. Which bottle do you mean?
Please point exactly to the object you refer to or describe it.
move #bottle, table, refrigerator
move #bottle, table, refrigerator
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I see multiple bottles. Which bottle do you mean?
Please point exactly to the object you refer to or describe it.
I see multiple bowls. Which bowl do you mean?
I see multiple bowls. Which bowl do you mean?
insert #bowl, sink
fill salad, #bowl
Please point exactly to the object you refer to or describe it.
wash #bowl
wash #bowl
wash #bowl
carry #bowl, refrigerator
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
carry #bowl
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I see multiple bowls. Which bowl do you mean?
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I see multiple bowls. Which bowl do you mean?
I only see a microwave, a tv, and a bottle. Please point exactly to the cup.
Please point exactly to the object you refer to or describe it.
wrap #cup
wrap #cup
attach #cup, my collection
attach #cup, my collection
serve #cup, our guests
turn #cup
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
drink #cup
move #cup, cupboard
Please point exactly to the object you refer to or describe it.
I see multiple cups. Which cup do you mean?
I see multiple cups. Which cup do you mean?
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
empty #cup
I see multiple cups. Which cup do you mean?
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I see multiple cups. Which cup do you mean?
carry #cup
Please point exactly to the object you refer to or describe it.
I only see bowls, a sink, and a bottle. Please point exactly to the cup.
I only see bowls, a sink, and a bottle. Please point exactly to the cup.
shake #cup
shake #cup
use #cup, water
use #cup, water
empty water, #cup
empty water, #cup
gather #cup
gather #cup
hang #cup
hang #cup
I only see bottles, cups, a microwave, a knife, and a spoon. Please point exactly to the fork.
I only see bottles, cups, a microwave, a knife, and a spoon. Please point exactly to the fork.
use #fork
use #fork
dry #microwave, washcloth
move #microwave, sink
I only see cups, bottles, a laptop, chairs, a tv, a keyboard, and a book. Please point exactly to the handbag.
I only see cups, bottles, a laptop, chairs, a tv, a keyboard, and a book. Please point exactly to the handbag.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I only see a chair, a cup, and a tv. Please point exactly to the handbag.
Please point exactly to the object you refer to or describe it.
search #keyboard
Please point exactly to the object you refer to or describe it.
read first letter, #keyboard
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I only see cups and a microwave. Please point exactly to the knife.
sharpen #knife
sharpen #knife
I only see a microwave, a cup, and spoons. Please point exactly to the knife.
I only see a microwave, a cup, and spoons. Please point exactly to the knife.
pull #chair
turn-on #chair
open #laptop
turn-off #laptop
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I see multiple laptops. Which laptop do you mean?
I see multiple laptops. Which laptop do you mean?
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I see multiple laptops. Which laptop do you mean?
Please point exactly to the object you refer to or describe it.
Which laptop do you mean?
I see multiple laptops. Which laptop do you mean?
I see multiple microwaves. Which microwave do you mean?
Please point exactly to the object you refer to or describe it.
carry meal, #microwave
check #microwave
open #microwave
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
I only see bottles. Please point exactly to the plate.
Which bottle do you mean?
I only see a cup and a bottle. Please point exactly to the plate.
I only see a cup and a bottle. Please point exactly to the plate.
I only see a potted and a plant. Please point exactly to the plate.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
open #refrigerator
Please point exactly to the object you refer to or describe it.
close #refrigerator
close #refrigerator
Please point exactly to the object you refer to or describe it.
open #refrigerator
use #scissors
use #scissors
sharpen #scissors
put #scissors, desk
insert #scissors, table
insert #scissors, table
Please point exactly to the object you refer to or describe it.
I only see bottles, a knife, a microwave, a bowl, and a spoon. Please point exactly to the scissors.
I only see cups, bowls, and a microwave. Please point exactly to the scissors.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
Please point exactly to the object you refer to or describe it.
wash #spoon
wash #spoon
carry #spoon
carry #spoon
carry #cup
carry #cup
click #mouse
click #mouse
carry #cellphone
carry #cellphone
carry #bottle
carry #bottle
check #laptop
check #laptop
make #coffee
make #coffee
insert #bowl, refrigerator
insert #bowl, refrigerator
turn-on  #kettle
turn-on  #kettle
grab #glass
grab #glass
find #knife
find #knife
pour water, #cup
pour water, #cup
move #food, microwave
move #food, microwave
gather #plate
gather #plate
find #bottle
find #bottle
make #coffee
make #coffee
find #cell phone
find #cell phone
check #food
check #food
turn-on #kettle
turn-on #kettle
fill #bottle
fill #bottle
move #bottle
move #bottle
